<div class="min-h-screen bg-gradient-to-br from-slate-50 to-slate-100 dark:from-slate-900 dark:to-slate-800">

  <!-- Header -->
  <div class="bg-white dark:bg-slate-800 border-b sticky top-0 z-10">
    <div class="px-6 py-5 flex justify-between items-center">
      <div>
        <h1 class="text-3xl font-bold text-slate-900 dark:text-white">
          Users Management
        </h1>
        <p class="text-sm text-slate-500">
          Manage user profiles and permissions
        </p>
      </div>

      <!-- <button (click)="createUserForm(); isFormVisible = true"
        class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
        ➕ Add User
      </button> -->
      <button *ngIf="isFormVisible" (click)="createUserForm(); isFormVisible = false"
        class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
        <i class="fas fa-arrow-left mr-2"></i> Back to Dashboard
      </button>
    </div>
  </div>

  <div class="p-6" *ngIf="!isFormVisible">
    <!-- Dynamic Table Component -->

    <app-dynamic-table [dtUserOptions]="dtUserOptions" [isLoading]="isLoading()" (editClick)="onEdit($event)"
      (deleteClick)="onDelete($event)" (downloadClick)="onDownload($event)"
      (pageSizeChange)="changeItemsPerPage($event)" (onSearch)="onSerchChange($event)"
      (pageChange)="onPageChange($event)">
    </app-dynamic-table>

  </div>




  <!-- Form -->
  <div class="p-6" *ngIf="isFormVisible">
    <form [formGroup]="pageFormUser" (ngSubmit)="submit()"
      class="bg-white dark:bg-gray-800 rounded-xl shadow-lg p-6 space-y-6">

      <div class="grid md:grid-cols-2 gap-6">

        <!-- Name -->
        <div>
          <label class="block text-sm font-medium mb-1">
            <span class="text-red-500">*</span> Name
          </label>

          <input type="text" formControlName="name" placeholder="Enter name" class="input" [ngClass]="{
              'border-red-500 bg-red-50 dark:bg-red-900/20':
              pageFormUser.get('name')?.invalid &&
              pageFormUser.get('name')?.touched
            }" />

          <div class="mt-1 text-xs text-red-600 dark:text-red-300"
            *ngIf="pageFormUser.get('name')?.invalid && pageFormUser.get('name')?.touched">
            Name is required
          </div>
        </div>

        <!-- Email -->
        <div>
          <label class="block text-sm font-medium mb-1">
            <span class="text-red-500">*</span> Email
          </label>

          <input type="email" formControlName="email" placeholder="Enter email" class="input" [ngClass]="{
              'border-red-500 bg-red-50 dark:bg-red-900/20':
              pageFormUser.get('email')?.invalid &&
              pageFormUser.get('email')?.touched
            }" />

          <div class="mt-1 text-xs text-red-600 dark:text-red-300" *ngIf="pageFormUser.get('email')?.errors?.['required'] &&
           pageFormUser.get('email')?.touched">
            Email is required
          </div>

          <div class="mt-1 text-xs text-red-600 dark:text-red-300"
            *ngIf="pageFormUser.get('email')?.errors?.['email'] && pageFormUser.get('email')?.touched">
            Invalid email format
          </div>
        </div>

        <!-- Username   -->
        <div>
          <label class="block text-sm font-medium mb-1">
            <span class="text-red-500">*</span> Username
          </label>

          <input type="text" formControlName="userName" placeholder="Enter username" class="input" [ngClass]="{
              'border-red-500 bg-red-50 dark:bg-red-900/20':
              pageFormUser.get('userName')?.invalid &&
              pageFormUser.get('userName')?.touched
            }" />

          <div class="mt-1 text-xs text-red-600 dark:text-red-300" *ngIf="pageFormUser.get('userName')?.errors?.['required'] &&
           pageFormUser.get('userName')?.touched">
            Username is required
          </div>
        </div>

        <!-- Email -->
        <div>
          <label class="block text-sm font-medium mb-1">
            <span class="text-red-500">*</span> Date of resgistration
          </label>

          <input type="text" formControlName="registrationDate" placeholder="Enter date of registration" class="input"
            [ngClass]="{
              'border-red-500 bg-red-50 dark:bg-red-900/20':
              pageFormUser.get('registrationDate')?.invalid &&
              pageFormUser.get('registrationDate')?.touched
            }" />

          <div class="mt-1 text-xs text-red-600 dark:text-red-300" *ngIf="pageFormUser.get('registrationDate')?.errors?.['required'] &&
           pageFormUser.get('registrationDate')?.touched">
            Date of registration is required
          </div>

          <div class="mt-1 text-xs text-red-600 dark:text-red-300"
            *ngIf="pageFormUser.get('registrationDate')?.errors?.['pattern'] && pageFormUser.get('registrationDate')?.touched">
            Invalid date format
          </div>
        </div>

        <div>

          <app-multiselect [config]="{
                    name: 'Role',
                    label: 'Role',
                    placeholder: 'Select Role',
                    searchable: true,
                    options: roleList,
                    required: true,
                    multi: true
                    }" [control]="$any(pageFormUser.get('roleId'))">
          </app-multiselect>
        </div>



        <div>

          <app-multiselect [config]="{
                    name: 'Division',
                    label: 'Division',
                    placeholder: 'Select Division',
                    searchable: true,
                    options: LstTechnology,
                    required: true,
                    multi: true
                    }" [control]="$any(pageFormUser.get('lstTechnologies'))">
          </app-multiselect>
        </div>
      </div>

      <div class="flex gap-3 justify-end">
        <!-- Submit -->
        <div>
          <button type="submit" (click)="submit()" class="btn-success">
            Submit ✔
          </button>
        </div>
        <div>
          <button type="submit" (click)="isFormVisible = false" class="btn-primary">
            Cancel ✖
          </button>
        </div>
      </div>
    </form>
  </div>
</div>