<!-- Header -->
<div
    class="bg-white dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700 sticky top-0 z-40 transition-colors duration-300">
    <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8 py-4">
        <div class="flex items-center justify-between flex-wrap gap-4">
            <!-- Title -->
            <div class="flex items-center gap-3">
                <div class="p-2 bg-blue-100 dark:bg-blue-900 rounded-lg">
                    <svg class="w-6 h-6 text-blue-600 dark:text-blue-400" fill="none" stroke="currentColor"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                </div>
                <div>
                    <h1 class="text-2xl font-bold text-gray-900 dark:text-white">BCDR Requests</h1>
                    <p class="text-sm text-gray-500 dark:text-gray-400">Manage disaster recovery requests</p>
                </div>
            </div>

            <!-- Actions -->
            <div class="flex items-center gap-3">


                <button (click)="openAddModal()"
                    class="px-4 py-2 bg-blue-600 hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-600 text-white rounded-lg font-medium transition-all duration-200 transform hover:scale-105 flex items-center gap-2 shadow-md hover:shadow-lg">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4">
                        </path>
                    </svg>
                    <span class="hidden sm:inline">Add Request</span>
                    <span class="sm:hidden">Add</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="max-w-full mx-auto p-6">

    <form [formGroup]="pageForm_bcdrRequest" class="bg-white dark:bg-gray-800 rounded-xl shadow-lg overflow-hidden">

        <!-- ================= HEADER (Styled Stepper) ================= -->
        <div class="flex items-center justify-between px-6 py-4 border-b bg-gray-50 dark:bg-gray-900">

            <div class="flex items-center gap-3 overflow-x-auto w-full">

                <div *ngFor="let tab of tabList; let i = index" class="flex items-center">

                    <!-- Step Circle -->
                    <div (click)="activeTab = tab.id"
                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer transition-all"
                        [ngClass]="{
                 'bg-blue-600 text-white': activeTab === tab.id,
                 'bg-green-500 text-white': activeTab > tab.id,
                 'bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-300': activeTab < tab.id
               }">
                        <span *ngIf="activeTab <= tab.id">{{ tab.id }}</span>
                        <span *ngIf="activeTab > tab.id">✔</span>
                    </div>

                    <!-- Label -->
                    <div class="ml-2 mr-4 text-sm font-medium whitespace-nowrap" [ngClass]="{
                 'text-blue-600 dark:text-blue-400': activeTab === tab.id,
                 'text-green-600': activeTab > tab.id,
                 'text-gray-500': activeTab < tab.id
               }">
                        {{ tab.name }}
                    </div>

                    <!-- Line -->
                    <div *ngIf="i < tabList.length - 1" class="w-10 h-[2px]" [ngClass]="{
                 'bg-green-500': activeTab > tab.id,
                 'bg-gray-300 dark:bg-gray-600': activeTab <= tab.id
               }">
                    </div>

                </div>

            </div>
        </div>
        <!-- <div class="md:col-span-2">
                    <app-multiselect [config]="{
                    name: 'assignedTeams',
                    label: 'Assigned Teams',
                    placeholder: 'Select Teams',
                    searchable: true,
                    options: teamOptions
                    }" [control]="$any(pageForm_bcdrRequest.get('technologyId'))">
                    </app-multiselect>
                </div> -->
        <!-- Assigned Teams -->

        <!-- <input formControlName="requestName" placeholder="Request Name" class="input" /> -->
        <!-- <input formControlName="technologyId" placeholder="Technology ID" class="input" /> -->
        <!-- <input formControlName="subScenarioHeading" placeholder="Heading" class="input" />
                    <textarea formControlName="subScenarioDetails" placeholder="Details" class="input"></textarea>
                    <input type="datetime-local" formControlName="activityStartDate" class="input" />
                    <input type="datetime-local" formControlName="activityEndDate" class="input" /> -->

        <!-- ================= BODY ================= -->
        <div class="p-6 space-y-6 transition-all duration-300">

            <!-- TAB 1 -->
            <div *ngIf="activeTab === 1" class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <!-- Division -->
                <div>
                    <app-multiselect [config]="{
                    name: 'Division',
                    label: 'Division',
                    placeholder: 'Select Division',
                    searchable: true,
                    options: teamOptions,
                    required: true,
                    multi: true
                    }" [control]="$any(pageForm_bcdrRequest.get('technologyId'))">
                    </app-multiselect>
                </div>

                <!-- Scenario Title -->
                <div>
                    <label class="label">
                        <span class="text-red-500">*</span> Scenario Title
                    </label>

                    <input type="text" formControlName="requestName" placeholder="Enter scenario title" class="input" />
                </div>

                <!-- Scenario Overview -->
                <div class="md:col-span-2">
                    <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">
                        Scenario Overview <span class="text-red-500">*</span>
                    </label>

                    <textarea formControlName="subScenarioDetails" rows="4"
                        placeholder="Provide a brief overview of the scenario" class="w-full px-3 py-2.5 rounded-lg border border-gray-300 dark:border-gray-600 
                    bg-white dark:bg-gray-900 text-gray-900 dark:text-white
                    focus:ring-2 focus:ring-blue-500 outline-none">
                    </textarea>
                </div>


                <!-- Objectives -->

                <div class="md:col-span-2 border
                                 border-gray-200 dark:border-gray-700 rounded-lg">

                    <!-- Header -->
                    <div class=" flex justify-between items-center px-2 py-2  rounded-t-lg
                      bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700">

                        <!-- Title -->
                        <div class="flex items-center gap-2 cursor-pointer" (click)="toggleSection()">


                            <h2 class="text-sm font-bold text-blue-600 dark:text-blue-400 flex items-center gap-1">
                                <span class="text-red-500">*</span> Objectives
                            </h2> <i class="fas text-gray-600"
                                [ngClass]="isCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
                        </div>

                        <!-- Add Button -->
                        <button type="button" (click)="addObjective(); $event.stopPropagation()" class="w-7 h-7 flex items-center justify-center rounded-full 
                         bg-green-500 text-white hover:bg-green-600 shadow-sm">
                            <i class="fas fa-plus "></i>
                        </button>
                    </div>

                    <!-- Container -->
                    <div *ngIf="!isCollapsed" class="bg-gray-50 dark:bg-gray-900 border border-gray-200 dark:border-gray-700 
                         p-2 space-y-3 transition-all">

                        <ng-container formArrayName="lstbCDRRequestObjective">

                            <!-- Row -->
                            <div *ngFor="let objectiveForm of objectives.controls; let i = index" [formGroupName]="i"
                                class="flex flex-col md:flex-row items-start md:items-center gap-3 bg-white dark:bg-gray-800 border
                                 border-gray-200 dark:border-gray-700 
                                 rounded-lg p-2">

                                <div class="w-full md:w-1/4 pt-3">
                                    <app-multiselect
                                        [config]="{ name: 'Division', label: '', placeholder: 'Select Division', searchable: true, multi: false, options: teamOptions }"
                                        [control]="$any(objectiveForm.get('objectiveTypeId'))"> </app-multiselect>
                                </div> <!-- Details -->
                                <div class="w-full md:flex-1">
                                    <input type="text" formControlName="objectiveDetails"
                                        placeholder="Details of the objective" maxlength="200"
                                        class="w-full p-3 rounded-lg border border-gray-300 dark:border-gray-600
                                         bg-white dark:bg-gray-900 text-gray-900 dark:text-white focus:ring-2 focus:ring-blue-500 outline-none" />
                                </div> <!-- Remove Button -->
                                <div class="flex items-center justify-center"> <button type="button"
                                        (click)="deleteObjective(i)" class="w-7 h-7 flex items-center justify-center rounded-full
                                         bg-red-400 text-white hover:bg-red-800 shadow-sm">
                                        <i class="fas fa-trash"></i> </button> </div>

                            </div>

                        </ng-container>

                    </div>

                </div>


                <!-- ----Risk Section -- -->


                <div class="md:col-span-2 border
                                 border-gray-200 dark:border-gray-700 rounded-lg">

                    <!-- Header -->
                    <div class=" flex justify-between items-center px-2 py-2  rounded-t-lg
                      bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700">

                        <!-- Title -->
                        <div class="flex items-center gap-2 cursor-pointer" (click)="toggleRiskSection()">


                            <h2 class="text-sm font-bold text-blue-600 dark:text-blue-400 flex items-center gap-1">
                                <span class="text-red-500">*</span> Risk
                            </h2> <i class="fas text-gray-600"
                                [ngClass]="isRiskCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
                        </div>

                        <!-- Add Button -->
                        <button type="button" (click)="addRisks(); $event.stopPropagation()" class="w-7 h-7 flex items-center justify-center rounded-full 
                         bg-green-500 text-white hover:bg-green-600 shadow-sm">
                            <i class="fas fa-plus "></i>
                        </button>
                    </div>

                    <!-- Container -->
                    <div *ngIf="!isRiskCollapsed" class="bg-gray-50 dark:bg-gray-900 border border-gray-200 dark:border-gray-700 
                         p-2 space-y-3 transition-all">

                        <ng-container formArrayName="lstbCDRRequestRisk">

                            <!-- Row -->
                            <div *ngFor="let risk of Risks.controls; let r = index" [formGroupName]="r" class="flex flex-col md:flex-row items-start md:items-center gap-3 bg-white dark:bg-gray-800 border
                                 border-gray-200 dark:border-gray-700 
                                 rounded-lg p-2">


                                <div class="w-full md:flex-1">

                                    <input type="text" formControlName="details"
                                        placeholder="List down the risks associated with the test" maxlength="200"
                                        class="w-full px-3 py-2.5 rounded-lg border border-gray-300 dark:border-gray-600 
                                        bg-white dark:bg-gray-900 text-gray-900 dark:text-white
                                        focus:ring-2 focus:ring-blue-500 outline-none" />
                                </div> <!-- Remove Button -->
                                <div class="flex items-center justify-center"> <button type="button"
                                        (click)="deleteRisks(r)" class="w-7 h-7 flex items-center justify-center rounded-full
                                         bg-red-400 text-white hover:bg-red-800 shadow-sm">
                                        <i class="fas fa-trash"></i> </button> </div>

                            </div>

                        </ng-container>

                    </div>

                </div>



                <!-- Assumption/Constrains -->

                <div class="md:col-span-2 border
                                 border-gray-200 dark:border-gray-700 rounded-lg">

                    <!-- Header -->
                    <div class=" flex justify-between items-center px-2 py-2  rounded-t-lg
                      bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700">

                        <!-- Title -->
                        <div class="flex items-center gap-2 cursor-pointer"
                            (click)="toggleAssumptionConstraintsSection()">


                            <h2 class="text-sm font-bold text-blue-600 dark:text-blue-400 flex items-center gap-1">
                                <span class="text-red-500">*</span> Assumption/Constraints
                            </h2> <i class="fas text-gray-600"
                                [ngClass]="showAssumptionConstraints ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
                        </div>

                        <!-- Add Button -->
                        <button type="button" (click)="addAssumptions(); $event.stopPropagation()" class="w-7 h-7 flex items-center justify-center rounded-full 
                         bg-green-500 text-white hover:bg-green-600 shadow-sm">
                            <i class="fas fa-plus "></i>
                        </button>
                    </div>

                    <!-- Container -->
                    <div *ngIf="!showAssumptionConstraints" class="bg-gray-50 dark:bg-gray-900 border border-gray-200 dark:border-gray-700 
                         p-2 space-y-3 transition-all">

                        <ng-container formArrayName="lstbCDRRequestRisk">

                            <!-- Row -->
                            <div *ngFor="let assumptionForm of Assumptions.controls; let a = index" [formGroupName]="a"
                                class="flex flex-col md:flex-row items-start md:items-center gap-3 bg-white dark:bg-gray-800 border
                                 border-gray-200 dark:border-gray-700 
                                 rounded-lg p-2">


                                <div class="w-full md:flex-1">

                                    <input type="text" formControlName="details"
                                        placeholder="List down the factor that we are assuming." maxlength="200" class="w-full px-3 py-2.5 rounded-lg border border-gray-300 dark:border-gray-600 
                                        bg-white dark:bg-gray-900 text-gray-900 dark:text-white
                                        focus:ring-2 focus:ring-blue-500 outline-none" />
                                </div> <!-- Remove Button -->
                                <div class="flex items-center justify-center"> <button type="button"
                                        (click)="deleteAssumptions(a)" class="w-7 h-7 flex items-center justify-center rounded-full
                                         bg-red-400 text-white hover:bg-red-800 shadow-sm">
                                        <i class="fas fa-trash"></i> </button> </div>

                            </div>

                        </ng-container>

                    </div>

                </div>



                <!-- Activity Timings (CST) -->

                <div class="md:col-span-2">

                    <!-- Section Header -->
                    <div
                        class="mb-4 p-2 rounded-lg bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700">
                        <h2 class="text-sm font-semibold text-blue-600 dark:text-blue-400 flex items-center gap-1">
                            <span class="text-red-500">*</span> Activity Timings (CST)
                        </h2>
                    </div>

                    <!-- Fields -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                        <!-- START DATE -->
                        <div class="space-y-1">
                            <label class="label">Start Date (CST)</label>

                            <div class="relative group">
                                <input [owlDateTime]="startDatePicker" formControlName="activityStartDate"
                                    [owlDateTimeTrigger]="startDatePicker" placeholder="Activity Start Time" class="w-full px-3 py-2.5 rounded-lg border border-gray-300 dark:border-gray-600 
                                    bg-white dark:bg-gray-900 text-gray-900 dark:text-white
                                    focus:ring-2 focus:ring-blue-500 outline-none pr-10" />

                                <!-- Icon -->
                                <i class="fas fa-calendar-alt absolute right-3 top-1/2 -translate-y-1/2 
                                text-gray-400 group-hover:text-blue-500 transition cursor-pointer">
                                </i>

                                <owl-date-time #startDatePicker></owl-date-time>
                            </div>
                        </div>

                        <!-- END DATE -->
                        <div class="space-y-1">
                            <label class="label">End Date (CST)</label>

                            <div class="relative group">
                                <input [owlDateTime]="endDatePicker" formControlName="activityEndDate"
                                    [owlDateTimeTrigger]="endDatePicker" placeholder="Activity End Time" class="w-full px-3 py-2.5 rounded-lg border border-gray-300 dark:border-gray-600 
                                    bg-white dark:bg-gray-900 text-gray-900 dark:text-white
                                    focus:ring-2 focus:ring-blue-500 outline-none pr-10" />

                                <!-- Icon -->
                                <i class="fas fa-clock absolute right-3 top-1/2 -translate-y-1/2 
                                text-gray-400 group-hover:text-blue-500 transition cursor-pointer">
                                </i>

                                <owl-date-time #endDatePicker></owl-date-time>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <!-- TAB 2 -->


            @if( this.activeTab == 2){
            <!-- Business Partner Details -->
            <div class="bg-white dark:bg-slate-900 rounded-xl border border-gray-200 dark:border-gray-700 px-3 py-2">

                <!-- HEADER -->

                <div
                    class="flex items-center gap-3 mb-4 p-2 rounded-lg bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700">
                    <h2 class="text-sm font-semibold text-blue-600 dark:text-blue-400 flex items-center gap-1">
                        Business Partner Details
                    </h2>

                    <label class="flex items-center gap-2 cursor-pointer">
                        <input type="checkbox" name="showPartnerDetails" [value]="showPartnerDetails"
                            (change)="toggleDetails()" class="w-4 h-4 text-blue-600 rounded" />
                        <span class="text-sm text-gray-600 dark:text-gray-300">
                            Add Details
                        </span>
                    </label>

                </div>


                <!-- FORM SECTION -->
                <div *ngIf="showPartnerDetails"
                    class="grid grid-cols-1 md:grid-cols-2 gap-4 transition-all duration-300 mt-2">

                    <!-- NAME -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Name
                        </label>
                        <input type="text" placeholder="Name of the business partner" class="input
                    bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                    focus:ring-2 focus:ring-blue-500 outline-none" formControlName="bussinessPartnerName" />
                    </div>

                    <!-- CONTACT -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Contact Number
                        </label>
                        <input type="text" placeholder="Contact number of the business partner"
                            formControlName="bussinessPartnerContactNumber" class="input"
                            formControlName="bussinessPartnerContactNumber" />
                    </div>

                    <!-- ADDRESS -->
                    <div class="md:col-span-1">
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Address
                        </label>
                        <textarea placeholder="Address of the business partner"
                            formControlName="bussinessPartnerAddress" rows="2" class="input
                        bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                        focus:ring-2 focus:ring-blue-500 outline-none"></textarea>
                    </div>

                    <!-- EMAIL -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Email Address
                        </label>
                        <input type="email" placeholder="Email address of the business partner"
                            formControlName="bussinessPartnerEmailAddress" class="input
                        bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                        focus:ring-2 focus:ring-blue-500 outline-none" />
                    </div>

                </div>

            </div>


            <!-- Production location -->
            <div class="bg-white dark:bg-slate-900 rounded-xl border border-gray-200 dark:border-gray-700 px-3 py-2">

                <!-- HEADER -->

                <div
                    class="flex items-center gap-3 mb-4 p-2 rounded-lg bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700">
                    <h2 class="text-sm font-semibold text-blue-600 dark:text-blue-400 flex items-center gap-1">
                        <span class="text-red-500">*</span>
                        Production location
                    </h2>


                </div>


                <!-- FORM SECTION -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-3 transition-all duration-300 mt-2">

                    <!-- NAME -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            <span class="text-red-500">*</span> Name
                        </label>
                        <input type="text" placeholder="Name of the production location"
                            formControlName="productLocationName" maxlength="100" class="input
                        bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                        focus:ring-2 focus:ring-blue-500 outline-none" />
                    </div>



                    <!-- Location -->
                    <div>

                        <app-multiselect
                            [config]="{ name: 'Division', label: 'Location', placeholder: 'Please Select Location', searchable: true, multi: false, options: teamOptions, required: true }"
                            [control]="$any(pageForm_bcdrRequest.get('productLocations'))"> </app-multiselect>
                    </div>

                    <!-- CONTACT -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            <span class="text-red-500">*</span> Contact Number
                        </label>
                        <input type="text" formControlName="recoveryLocationContactNumber"
                            placeholder="Contact number of the production location" class="input
                        bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                        focus:ring-2 focus:ring-blue-500 outline-none" />
                    </div>

                    <!-- EMAIL -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                             <span class="text-red-500">*</span> Email Address
                        </label>
                        <input type="email" placeholder="Email address of the production location"
                            formControlName="productLocationEmailAddress" class="input
                        bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                        focus:ring-2 focus:ring-blue-500 outline-none" />
                    </div>

                </div>

            </div>


            <!-- Recovery location -->
            <div class="bg-white dark:bg-slate-900 rounded-xl border border-gray-200 dark:border-gray-700 px-3 py-2">

                <!-- HEADER -->

                <div
                    class="flex items-center gap-3 mb-4 p-2 rounded-lg bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700">
                    <h2 class="text-sm font-semibold text-blue-600 dark:text-blue-400 flex items-center gap-1">
                        <span class="text-red-500">*</span>
                        Recovery location

                    </h2>
                    <label class="flex items-center gap-2 cursor-pointer">
                        <input type="checkbox" name="showPartnerDetails" [value]="showPartnerDetails"
                            (change)="toggleDetails()" class="w-4 h-4 text-blue-600 rounded" />
                        <span class="text-sm text-gray-600 dark:text-gray-300">
                            Same as above
                        </span>
                    </label>

                </div>


                <!-- FORM SECTION -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-3 transition-all duration-300 mt-2">

                    <!-- NAME -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            <span class="text-red-500">*</span> Name
                        </label>
                        <input type="text" placeholder="Name of the recovery location"
                            formControlName="recoveryLocationName" maxlength="100" class="input
                            bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                            focus:ring-2 focus:ring-blue-500 outline-none" />
                    </div>

                    <!-- Location -->
                    <div>
                        <!-- <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            Location
                        </label> -->
                        <app-multiselect
                            [config]="{ name: 'Division', label: 'Location', placeholder: 'Please Select Location', searchable: true, multi: false, options: teamOptions, required: true }"
                            [control]="$any(pageForm_bcdrRequest.get('recoveryLocations'))"> </app-multiselect>
                    </div>

                    <!-- CONTACT -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                            <span class="text-red-500">*</span> Contact Number
                        </label>
                        <input type="text" formControlName="recoveryLocationContactNumber"
                            placeholder="Contact number of the recovery location" maxlength="100" class="input
                        bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                        focus:ring-2 focus:ring-blue-500 outline-none" />
                    </div>


                    <!-- EMAIL -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">
                             <span class="text-red-500">*</span> Email Address
                        </label>
                        <input type="email" formControlName="recoveryLocationEmailAddress"
                            placeholder="Email address of the recovery location" maxlength="100" class="input
                        bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                        focus:ring-2 focus:ring-blue-500 outline-none" />
                    </div>

                </div>

            </div>


            <!-- Conferance -->
            <div class="bg-white dark:bg-slate-900 rounded-xl border border-gray-200 dark:border-gray-700 px-3 py-2">

                <!-- HEADER -->

                <div
                    class="flex items-center gap-3  p-2 rounded-lg bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700">
                    <h2 class="text-sm font-semibold text-blue-600 dark:text-blue-400 flex items-center gap-1">
                        <span class="text-red-500">*</span>
                        Conferance Bridge
                    </h2>


                </div>


                <!-- FORM SECTION -->
                <div class="grid grid-cols-1  gap-4 transition-all duration-300 mt-3">

                    <!-- NAME -->
                    <div>

                        <input type="text" placeholder="Teams meeting link" class="input
                    bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                    focus:ring-2 focus:ring-blue-500 outline-none" />
                    </div>



                </div>

            </div>


            <!-- Helpdesk  -->
            <div
                class="bg-white dark:bg-slate-900 rounded-xl border border-gray-200 dark:border-gray-700 p-4 space-y-5">

                <!-- HEADER -->

                <div
                    class="flex items-center gap-3  p-2 rounded-lg bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700">
                    <h2 class="text-sm font-semibold text-blue-600 dark:text-blue-400 flex items-center gap-1">
                        <span class="text-red-500">*</span>
                        Helpdesk Details and Emergency Details
                    </h2>


                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-2 mt-3">
                        <span class="text-red-500">*</span> Helpdesk Ticket Details
                    </label>

                    <!-- FORM SECTION -->
                    <div class="flex justify-between gap-2 transition-all duration-300 mt-3">

                        <!-- NAME -->
                        <div class="w-1/2">

                            <input type="text" placeholder="Ticket Number" class="input
                            bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                            focus:ring-2 focus:ring-blue-500 outline-none" />
                        </div>

                        <div class="w-full">

                            <input type="text" placeholder="Ticket Details" class="input
                            bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                            focus:ring-2 focus:ring-blue-500 outline-none" />
                        </div>



                    </div>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-2 mt-3">
                        <span class="text-red-500">*</span> Helpdesk Contact Details
                    </label>

                    <!-- FORM SECTION -->
                    <div class="flex justify-between gap-2 transition-all duration-300 mt-3">

                        <!-- NAME -->
                        <div class="w-1/2">

                            <input type="text" placeholder="Contact Number" class="input
                            bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                            focus:ring-2 focus:ring-blue-500 outline-none" />
                        </div>

                        <div class="w-full">

                            <input type="email" placeholder="Email Address" class="input
                            bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                            focus:ring-2 focus:ring-blue-500 outline-none" />
                        </div>



                    </div>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-600 dark:text-gray-300 mb-2 mt-3">
                        <span class="text-red-500">*</span>Emergency Contact Details
                    </label>

                    <!-- FORM SECTION -->
                    <div class="flex justify-between gap-2 transition-all duration-300 mt-3">

                        <!-- NAME -->
                        <div class="w-1/2">

                            <input type="text" placeholder="Contact Number" class="input
                            bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                            focus:ring-2 focus:ring-blue-500 outline-none" />
                        </div>

                        <div class="w-full">

                            <input type="email" placeholder="Email Address" class="input
                            bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-white 
                            focus:ring-2 focus:ring-blue-500 outline-none" />
                        </div>



                    </div>
                </div>



            </div>


            <div class="space-y-4 px-1">

                <!-- QUESTION 1 -->
                <div class="flex flex-col md:flex-row md:items-center  md:justify-start gap-1.5">

                    <label class="text-sm font-medium text-gray-700 dark:text-gray-300">
                        Was communication carried out with internal and external customers regarding the test?
                    </label>

                    <div class="flex items-center gap-2">

                        <label class="flex items-center gap-2 cursor-pointer">
                            <input type="radio" name="communication" value="yes"
                                class="w-4 h-4 text-blue-600 focus:ring-blue-500" />
                            <span class="text-sm text-gray-700 dark:text-gray-300">Yes</span>
                        </label>

                        <label class="flex items-center gap-2 cursor-pointer">
                            <input type="radio" name="communication" value="no"
                                class="w-4 h-4 text-blue-600 focus:ring-blue-500" />
                            <span class="text-sm text-gray-700 dark:text-gray-300">No</span>
                        </label>

                    </div>
                </div>

                <!-- QUESTION 2 -->
                <div class="flex flex-col md:flex-row md:items-center md:justify-start gap-1.5">

                    <label class="text-sm font-medium text-gray-700 dark:text-gray-300">
                        Was the external client informed of clear expectations prior to testing?
                    </label>

                    <div class="flex items-center gap-2">

                        <label class="flex items-center gap-2 cursor-pointer">
                            <input type="radio" name="clientInfo" value="yes"
                                class="w-4 h-4 text-blue-600 focus:ring-blue-500" />
                            <span class="text-sm text-gray-700 dark:text-gray-300">Yes</span>
                        </label>

                        <label class="flex items-center gap-2 cursor-pointer">
                            <input type="radio" name="clientInfo" value="no"
                                class="w-4 h-4 text-blue-600 focus:ring-blue-500" />
                            <span class="text-sm text-gray-700 dark:text-gray-300">No</span>
                        </label>

                    </div>
                </div>

            </div>



            }
            <!-- TAB 3 -->
            <div *ngIf="activeTab == 3" class="grid grid-cols-1 md:grid-cols-2 gap-4">


                <!-- Recovery Time Objective (RTO)  -->
                <div class="md:col-span-2">
                    <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">
                        <span class="text-red-500">*</span> Recovery Time Objective (RTO)
                    </label>

                    <textarea formControlName="recoveryTimeObjective" rows="2"
                        placeholder="Provide a brief overview of the scenario" class="textbox">
                    </textarea>
                </div>
                <!-- Recovery Point Objective (RPO) -->
                <div class="md:col-span-2">
                    <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">
                       <span class="text-red-500">*</span> Recovery Point Objective (RPO)
                    </label>

                    <textarea formControlName="recoveryPointObjective" rows="2"
                        placeholder="Provide a brief overview of the scenario" class="textbox">
                    </textarea>
                </div>


                <!-- ---  Recovery Team Objectives  --- -->


                <div class="md:col-span-2 border
                                 border-gray-200 dark:border-gray-700 rounded-lg">

                    <!-- Header -->
                    <div class=" flex justify-between items-center px-2 py-2  rounded-t-lg
                      bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700">

                        <!-- Title -->
                        <div class="flex items-center gap-2 cursor-pointer" (click)="toggleRecoveryTeamSection()">


                            <h2 class="text-sm font-semibold text-blue-600 dark:text-blue-400 flex items-center gap-1">
                                <span class="text-red-500">*</span> Recovery Team
                            </h2> <i class="fas text-gray-600"
                                [ngClass]="isRecoveryTeamCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
                        </div>

                    </div>

                    <!-- Container -->
                    <div *ngIf="!isRecoveryTeamCollapsed" class="bg-gray-50 dark:bg-gray-900 border border-gray-200 dark:border-gray-700 
                         p-2 space-y-3 transition-all">

                        <ng-container formArrayName="lstbCDRRequestObjective">

                            <!-- Row -->
                            <div *ngFor="let objectiveForm of objectives.controls; let o = index" [formGroupName]="o"
                                class=" bg-white dark:bg-gray-800 border
                                 border-gray-200 dark:border-gray-700 
                                 rounded-lg p-4">


                                <label class="flex items-center gap-2  justify-start">
                                    <h2
                                        class="text-sm font-medium text-blue-600 dark:text-blue-400 flex items-center gap-1">

                                        {{objectiveForm.get('objectiveDetails')?.value || 'Objective ' + (o + 1) }}

                                    </h2>
                                    <input type="checkbox" name="showPartnerDetails" [value]="showPartnerDetails"
                                        (change)="toggleDetails()" class="w-4 h-4 text-blue-600 rounded" />
                                    <span class="text-sm text-gray-600 dark:text-gray-300 cursor-pointer">
                                        Same as above
                                    </span>
                                </label>

                                <div class="grid md:grid-cols-2 items-start md:items-center gap-2">



                                    <div>
                                        <label class="label">
                                            <span class="text-red-500">*</span> Name</label>
                                        <input type="text" placeholder="List down the factor that we are assuming."
                                            maxlength="200" class="input" />
                                    </div>

                                    <div>
                                        <label class="label">
                                            <span class="text-red-500">*</span> Designation</label>
                                        <input type="text" placeholder="List down the factor that we are assuming."
                                            maxlength="200" class="input" />
                                    </div>

                                    <div>
                                        <label class="label">
                                            <span class="text-red-500">*</span> Supervisor</label>
                                        <input type="text" placeholder="List down the factor that we are assuming."
                                            maxlength="200" class="input" />
                                    </div>
                                    <div>
                                        <label class="label">
                                            <span class="text-red-500">*</span> Contact Number</label>
                                        <input type="text" placeholder="List down the factor that we are assuming."
                                            maxlength="200" class="input" />
                                    </div>

                                    <div>
                                        <label class="label">
                                            <span class="text-red-500">*</span> Email Address</label>
                                        <input type="text" placeholder="List down the factor that we are assuming."
                                            maxlength="200" class="input" />
                                    </div>
                                    <div>

                                        <app-multiselect
                                            [config]="{ name: 'Division', label: 'Location', placeholder: 'Please Select Location', searchable: true, multi: false, options: teamOptions, required: true }"
                                            [control]="$any(pageForm_bcdrRequest.get('recoveryLocations'))">
                                        </app-multiselect>
                                    </div>

                                </div>

                            </div>




                        </ng-container>

                    </div>

                </div>



                <div class="flex justify-between mb-3">
                    <h3 class="font-semibold">Objectives</h3>
                    <button type="button" (click)="addObjective()" class="btn-primary">+ Add</button>
                </div>

                <div *ngFor="let obj of objectives.controls; let i = index" [formGroup]="$any(obj)"
                    class="border p-4 rounded-lg mb-3 space-y-2">

                    <input formControlName="objectiveDetails" placeholder="Details" class="input" />
                    <input formControlName="recoveryTeamName" placeholder="Team Name" class="input" />
                    <input formControlName="recoveryTeamEmailAddress" placeholder="Email" class="input" />

                    <button type="button" (click)="deleteObjective(i)" class="btn-danger">
                        Delete
                    </button>

                </div>
            </div>

            <!-- TAB 4 -->
            <div *ngIf="activeTab === 4" class="grid md:grid-cols-2 gap-4">
                <input formControlName="recoveryTimeObjective" placeholder="RTO" class="input" />
                <input formControlName="recoveryPointObjective" placeholder="RPO" class="input" />
                <input formControlName="expectedResponseTime" placeholder="Response Time" class="input" />
                <textarea formControlName="overallRecoveryStrategy" placeholder="Strategy" class="input"></textarea>
            </div>

            <!-- TAB 5 -->
            <div *ngIf="activeTab === 5" class="space-y-3">
                <textarea formControlName="whatWorkedWell" placeholder="What worked well" class="input"></textarea>
                <textarea formControlName="improvementsIdentified" placeholder="Improvements" class="input"></textarea>
                <textarea formControlName="recommendationsForTeam" placeholder="Recommendations"
                    class="input"></textarea>
            </div>



            <!-- ================= FOOTER ================= -->
            <div class="flex justify-between px-6 py-4 border-t bg-gray-50 dark:bg-gray-900">

                <button type="button" (click)="prevTab()" [disabled]="activeTab === 1" class="btn-secondary">
                    ← Previous
                </button>

                <div class="flex gap-3">

                    <button *ngIf="activeTab < 5" type="button" (click)="nextTab()" class="btn-primary">
                        Next →
                    </button>

                    <button *ngIf="activeTab === 5" type="submit" (click)="onSubmit()" class="btn-success">
                        Submit ✔
                    </button>

                </div>

            </div>


        </div>
    </form>