<footer
  class="fixed bottom-0 left-0 right-0 bg-surface/95 dark:bg-slate-900/95 backdrop-blur-md border-t border-gray-200 dark:border-slate-700 z-40 transition-all duration-300"
>
  <div class="flex md:flex-row items-center justify-between gap-3 px-4 md:px-6 py-3">

   
    <p class="font-medium text-gray-800 dark:text-slate-400 text-center md:text-left">
      © {{ currentYear }}
     
     | All Rights Reserved
    </p> 
     <span class="font-medium text-gray-800 dark:text-slate-200">IT One V1.0</span>

    
  </div>
</footer>